* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  width: 100%;
  height: 80px;
  border: solid 1px black;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}

.navigation ul {
  display: flex;
  gap: 40px;
}

.navigation ul,
li,
a {
  color: white;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
  transition: ease-in-out 2s;
}

h1 {
  text-transform: uppercase;
  color: white;
}

.navigation ul,
li,
a:hover {
  color: red;
}

body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

th {
  font-style: inherit;
  font-size: 1.09em;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
  width: 120px;
  color: whitesmoke;
  background-color: lightslategray;
  cursor: default;
  padding: 3px;
}

td {
  font-style: inherit;
  line-height: 23px;
  text-align: center;
  width: 120px;
  color: whitesmoke;
  background-color: lightslategray;
  cursor: default;
}

#div-buttons {
  border-radius: 10px;
  width: 100px;
  height: 200px;
  padding: 50px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
  background-color: lightslategrey;
}

@media only screen and (max-width: 330px) {
  div {
    width: 250px;
  }
}

.button-principal {
  /* height: 40px;
  width: 150px; */
  border: none;
  padding: 0 auto;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  /* padding: px; */
  background-color: #58cc02;
  box-shadow: 0 5px 0 #58a700;
  margin-bottom: 20px;
}

.button-principal:active {
  box-shadow: none;
  transform: translateY(5px);
}

tr.check td {
  background-color: blue;
  /* cursor: pointer; */
}

td.square {
  /* box-shadow: 0 10px 0 #58a700; */
  width: 25px;
  background-color: grey;
}

td.active {
  background-color: blue;
}
